*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-color: cornflowerblue;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}
h1{
    padding: 3%;
    text-decoration: underline;
    font-weight: bold;
}
h2{
    padding: 2%;
    text-decoration: underline;
}

li{
    font-size: 20px;
    padding-left: 2em;
    padding-right: 2em;
}